view/wsdl/News.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://soap.javaee.epam.com/"
                  name="News" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  xmlns:tns="http://soap.javaee.epam.com/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:schemaLocation="http://schemas.xmlsoap.org/soap/http ">
    <wsdl:types>
        <xs:schema targetNamespace="http://soap.javaee.epam.com/" xmlns:tns="http://soap.javaee.epam.com/" version="1.0"
                   elementFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="add" type="tns:add"/>
            <xs:element name="addResponse" type="tns:addResponse"/>
            <xs:element name="delete" type="tns:delete"/>
            <xs:element name="deleteResponse" type="tns:deleteResponse"/>
            <xs:element name="get" type="tns:get"/>
            <xs:element name="getAll" type="tns:getAll"/>
            <xs:element name="getAllResponse" type="tns:getAllResponse"/>
            <xs:element name="getResponse" type="tns:getResponse"/>
            <xs:element name="update" type="tns:update"/>
            <xs:element name="updateResponse" type="tns:updateResponse"/>
            <xs:complexType name="add">
                <xs:sequence>
                    <xs:element name="arg0" type="tns:news" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="news">
                <xs:sequence>
                    <xs:element name="brief" type="xs:string" minOccurs="0"/>
                    <xs:element name="content" type="xs:string" minOccurs="0"/>
                    <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="update">
                <xs:sequence>
                    <xs:element name="arg0" type="tns:news" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAll">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:news" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delete">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="get">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:long" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getResponse">
                <xs:sequence>
                    <xs:element name="return" type="tns:news" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="update">
        <wsdl:part name="parameters" element="tns:update"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete">
        <wsdl:part name="parameters" element="tns:delete"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateResponse">
        <wsdl:part name="parameters" element="tns:updateResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="add">
        <wsdl:part name="parameters" element="tns:add"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAll">
        <wsdl:part name="parameters" element="tns:getAll"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteResponse">
        <wsdl:part name="parameters" element="tns:deleteResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="parameters" element="tns:addResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllResponse">
        <wsdl:part name="parameters" element="tns:getAllResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getResponse">
        <wsdl:part name="parameters" element="tns:getResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="get">
        <wsdl:part name="parameters" element="tns:get"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NewsInterface">
        <wsdl:operation name="add">
            <wsdl:input name="add" message="tns:add"></wsdl:input>
            <wsdl:output name="addResponse" message="tns:addResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input name="update" message="tns:update"></wsdl:input>
            <wsdl:output name="updateResponse" message="tns:updateResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAll">
            <wsdl:input name="getAll" message="tns:getAll"></wsdl:input>
            <wsdl:output name="getAllResponse" message="tns:getAllResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input name="delete" message="tns:delete"></wsdl:input>
            <wsdl:output name="deleteResponse" message="tns:deleteResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <wsdl:input name="get" message="tns:get"></wsdl:input>
            <wsdl:output name="getResponse" message="tns:getResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NewsSoapBinding" type="tns:NewsInterface">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="add">
            <soap:operation style="document" soapAction=""/>
            <wsdl:input name="add">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation style="document" soapAction=""/>
            <wsdl:input name="update">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAll">
            <soap:operation style="document" soapAction=""/>
            <wsdl:input name="getAll">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation style="document" soapAction=""/>
            <wsdl:input name="delete">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="get">
            <soap:operation style="document" soapAction=""/>
            <wsdl:input name="get">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="News">
        <wsdl:port name="NewsServiceEndpointPort" binding="tns:NewsSoapBinding">
            <soap:address location="http://localhost:8080/view/News"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>